# loading data

In [7]:
import numpy as np
import scipy as sp
import pandas as pd

# plotting and visualization

import matplotlib.colors
import matplotlib.pyplot as plt
import seaborn as sns

# modeling
import sklearn.model_selection
from sklearn.model_selection import KFold
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.dummy import DummyClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score, f1_score,precision_score
from sklearn.metrics import precision_recall_fscore_support as score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay

import pickle

from sklearn import __version__ as sklearn_version
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV

from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import SelectKBest, f_regression
import datetime

import os

In [8]:
X_train = pd.read_csv("../Capstone_Two_Project/data/processed/X_train.csv", index_col = 0)
X_train

,alcohol,fixed_acidity_ratio,density,residual_sugar,chlorides,total_sulfur_dioxide
0,0.405797,0.839710,0.130904,0.098160,0.053156,0.258065
1,0.260870,0.845020,0.256217,0.288344,0.074751,0.375576
2,0.304348,0.686411,0.161751,0.018405,0.099668,0.043779
3,0.478261,0.824361,0.084635,0.038344,0.071429,0.419355
4,0.637681,0.851406,0.045306,0.015337,0.059801,0.205069
...,...,...,...,...,...,...
6031,0.492754,0.914611,0.085629,0.015870,0.039605,0.240359
6032,0.343471,0.781272,0.100689,0.032700,0.044016,0.261061
6033,0.695652,0.808453,0.087512,0.105441,0.025885,0.274775
6034,0.672634,0.758345,0.055070,0.023051,0.035275,0.179995
6035,0.517193,0.817156,0.062757,0.018586,0.056282,0.170278

In [9]:
X_test = pd.read_csv("../Capstone_Two_Project/data/processed/X_test.csv", index_col = 0)

In [10]:
y_train = pd.read_csv("../Capstone_Two_Project/data/processed/y_train.csv",index_col = False)
y_train.columns

y_train=y_train.drop('Unnamed: 0',axis=1)
y_train

      quality
0           0
1           0
2           1
3           0
4           1
...       ...
6031        1
6032        1
6033        1
6034        1
6035        1

[6036 rows x 1 columns]

In [11]:
y_test = pd.read_csv("../Capstone_Two_Project/data/processed/y_test.csv", index_col = False)
y_test=y_test.drop('Unnamed: 0',axis=1)
y_test

      quality
0           0
1           0
2           0
3           0
4           0
...       ...
1591        0
1592        1
1593        1
1594        1
1595        0

[1596 rows x 1 columns]

# Modeling

## Metrics for model performance

This is a classification machine learning.The metrics of accuracy, recall, F1 and ROC_AUC will be evaluated. The project purpose is to predict good quality wine, and the dataset is imblanced, therefore the model with highest precision values with relative high accuracy among the four models:Logisticregression, randomforest, XGBoost, and KNN will be the winner.

## Baseline Classification

In [13]:
dummy = DummyClassifier(strategy ="most_frequent",random_state = 123)
dummy.fit(X_train.values,y_train.values)
y_pred = dummy.predict(X_test.values)
accuracy_baseline = dummy.score(X_test.values,y_test.values)
report = classification_report(y_test.values, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.81      1.00      0.90      1293
           1       0.00      0.00      0.00       303

    accuracy                           0.81      1596
   macro avg       0.41      0.50      0.45      1596
weighted avg       0.66      0.81      0.73      1596

C:\Users\Yan Zhang\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Yan Zhang\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Yan Zhang\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

## 2.3 KNN model

In [ ]:
train_scores =[]
test_scores = []

for k in range(1,15):
    knn= KNeighborsClassifier(n_neighbors = k)
    knn.fit(X_train,y_train)
    train_scores.append(knn.score(X_train,y_train))
    test_scores.append(knn.score(X_test,y_test))
    #y_pred_i =knn.predict(X_test)
    #error_rate.append(np.mean(y_pred_i!=y_test))

In [ ]:
print("train scores:", train_scores,"\n")
print("test scores:", test_scores,"\n")

In [ ]:
plt.figure(figsize=(12,5))
p = sns.lineplot(data =(range(1,15),train_scores),marker='*',label='Train Score')
p = sns.lineplot(data = (range(1,15),test_scores),marker='o',label='Test Score')

In [ ]:
plt.figure(figsize = (10,6))
plt.plot(range(1,50), error_rate, color ="r",linestyle ="--",marker = "o",markersize = 15)
plt.titel("error rate vs k value")